<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Serial_Monitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Serial_Monitor.Properties.Settings>
            <setting name="THM_COL_MonitorChanged" serializeAs="String">
                <value>192, 64, 0</value>
            </setting>
            <setting name="THM_COL_MenuBack" serializeAs="String">
                <value>31, 31, 31</value>
            </setting>
            <setting name="THM_COL_ButtonSelected" serializeAs="String">
                <value>64, 64, 64</value>
            </setting>
            <setting name="THM_COL_Editor" serializeAs="String">
                <value>16, 16, 16</value>
            </setting>
            <setting name="THM_COL_ForeColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="THM_COL_BorderColor" serializeAs="String">
                <value>DimGray</value>
            </setting>
            <setting name="THM_COL_SeperatorColor" serializeAs="String">
                <value>55, 55, 55</value>
            </setting>
            <setting name="THM_COL_SelectedColor" serializeAs="String">
                <value>SteelBlue</value>
            </setting>
            <setting name="THM_COL_ScrollColor" serializeAs="String">
                <value>64, 64, 64</value>
            </setting>
            <setting name="THM_COL_SymbolColor" serializeAs="String">
                <value>DarkGray</value>
            </setting>
            <setting name="THM_COL_StopColor" serializeAs="String">
                <value>Brown</value>
            </setting>
            <setting name="THM_SET_IsDark" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="THM_COL_SeconaryBackColor" serializeAs="String">
                <value>40, 40, 40</value>
            </setting>
            <setting name="THM_COL_TerminalForeColor" serializeAs="String">
                <value>255, 255, 192</value>
            </setting>
            <setting name="THM_COL_GridLineColor" serializeAs="String">
                <value>30, 30, 30</value>
            </setting>
            <setting name="THM_COL_RowColor" serializeAs="String">
                <value>23, 23, 23</value>
            </setting>
            <setting name="THM_COL_Match" serializeAs="String">
                <value>0, 64, 0</value>
            </setting>
            <setting name="THM_COL_Mismatched" serializeAs="String">
                <value>64, 0, 0</value>
            </setting>
            <setting name="DEF_INT_BaudRate" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="THM_COL_TabSelectedColor" serializeAs="String">
                <value>100, 128, 128, 128</value>
            </setting>
            <setting name="THM_COL_TabSelectedBorderColor" serializeAs="String">
                <value>100, 128, 128, 128</value>
            </setting>
            <setting name="THM_COL_TabSelectedForeColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="THM_COL_ColumnSeperatorColor" serializeAs="String">
                <value>64, 64, 64</value>
            </setting>
            <setting name="THM_COL_SecondaryForeColor" serializeAs="String">
                <value>Silver</value>
            </setting>
            <setting name="THM_COL_SelectedShadowColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="THM_COL_ButtonChecked" serializeAs="String">
                <value>70, 70, 70</value>
            </setting>
            <setting name="DEF_INT_DataBits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="DEF_STR_StopBits" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DEF_STR_ParityBit" serializeAs="String">
                <value>N</value>
            </setting>
            <setting name="DEF_STR_InputFormat" serializeAs="String">
                <value>frmTxt</value>
            </setting>
            <setting name="DEF_STR_OutputFormat" serializeAs="String">
                <value>frmTxt</value>
            </setting>
            <setting name="PRG_BOL_AnimateCursor" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CHAN_BOL_PreferLegacyPortListing" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PRG_BOL_LimitExecution1ms" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="THM_COL_MouseOverForeColor" serializeAs="String">
                <value>LightGray</value>
            </setting>
            <setting name="THM_COL_MouseDownForeColor" serializeAs="String">
                <value>DimGray</value>
            </setting>
            <setting name="PRG_BOL_SyntaxHighlighting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="THM_COL_CommentColor" serializeAs="String">
                <value>78, 162, 68</value>
            </setting>
            <setting name="THM_COL_KeyWordColor" serializeAs="String">
                <value>78, 156, 206</value>
            </setting>
            <setting name="THM_COL_ReturnsAndCalls" serializeAs="String">
                <value>187, 155, 211</value>
            </setting>
            <setting name="THM_COL_VariablesColor" serializeAs="String">
                <value>156, 220, 254</value>
            </setting>
            <setting name="PRG_BOL_CommandIndentation" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PRG_BOL_InsertBefore" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="THM_COL_ItemInactiveForeColor" serializeAs="String">
                <value>Gray</value>
            </setting>
            <setting name="THM_COL_Function" serializeAs="String">
                <value>220, 220, 170</value>
            </setting>
            <setting name="CHAN_OPT_PortDisplay" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="THM_COL_Source" serializeAs="String">
                <value>20, 20, 20</value>
            </setting>
            <setting name="THM_COL_SourceSep" serializeAs="String">
                <value>60, 60, 60</value>
            </setting>
            <setting name="THM_VIS_Style" serializeAs="String">
                <value>1</value>
            </setting>
        </Serial_Monitor.Properties.Settings>
    </userSettings>
</configuration>